# Auto detect text files and perform LF normalization
* text=auto
/Assets/Blood[[:space:]]decal[[:space:]]pack/blood/blood.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Blood[[:space:]]decal[[:space:]]pack/blood/blood1.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Blood[[:space:]]decal[[:space:]]pack/blood/blood2.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Blood[[:space:]]decal[[:space:]]pack/blood/blood3.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Blood[[:space:]]decal[[:space:]]pack/blood/blood4.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Blood[[:space:]]decal[[:space:]]pack/blood/blood5.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Blood[[:space:]]decal[[:space:]]pack/blood/blood6.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Blood[[:space:]]decal[[:space:]]pack/blood/blood7.tif filter=lfs diff=lfs merge=lfs -text
/Assets/Hovl[[:space:]]Studio/Magic[[:space:]]effects[[:space:]]pack/Materials/VFXatlas.psd filter=lfs diff=lfs merge=lfs -text
/Assets/Hovl[[:space:]]Studio/Magic[[:space:]]effects[[:space:]]pack/Prefabs/AoE[[:space:]]effects/Crystals[[:space:]]crossfade[[:space:]]2.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Hovl[[:space:]]Studio/Magic[[:space:]]effects[[:space:]]pack/Prefabs/AoE[[:space:]]effects/Crystals[[:space:]]crossfade.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Hovl[[:space:]]Studio/Magic[[:space:]]effects[[:space:]]pack/Prefabs/AoE[[:space:]]effects/Crystals[[:space:]]front[[:space:]]attack.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Hovl[[:space:]]Studio/Magic[[:space:]]effects[[:space:]]pack/Prefabs/AoE[[:space:]]effects/Laser[[:space:]]AOE.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Hovl[[:space:]]Studio/Magic[[:space:]]effects[[:space:]]pack/Prefabs/AoE[[:space:]]effects/Red[[:space:]]energy[[:space:]]explosion.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/Hovl[[:space:]]Studio/Magic[[:space:]]effects[[:space:]]pack/Textures/Concrete[[:space:]]slab.png filter=lfs diff=lfs merge=lfs -text
/Assets/Hovl[[:space:]]Studio/Magic[[:space:]]effects[[:space:]]pack/Textures/Concrete[[:space:]]slab_Height.png filter=lfs diff=lfs merge=lfs -text
/Assets/Hovl[[:space:]]Studio/Magic[[:space:]]effects[[:space:]]pack/Textures/Concrete[[:space:]]slab_MetallicSmoothness.png filter=lfs diff=lfs merge=lfs -text
/Assets/Hovl[[:space:]]Studio/Magic[[:space:]]effects[[:space:]]pack/Textures/Concrete[[:space:]]slab_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/Scenes/Scene[[:space:]]1.unity filter=lfs diff=lfs merge=lfs -text
/Assets/SlimUI/Modern[[:space:]]Menu[[:space:]]1/Audio/Music/SFX_MusicSample.mp3 filter=lfs diff=lfs merge=lfs -text
/Assets/SlimUI/Modern[[:space:]]Menu[[:space:]]1/Fonts/LATO-BOLD[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/SlimUI/Modern[[:space:]]Menu[[:space:]]1/Fonts/LATO-LIGHT[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/SlimUI/Modern[[:space:]]Menu[[:space:]]1/Fonts/RUBIK-BOLD[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/SlimUI/Modern[[:space:]]Menu[[:space:]]1/Fonts/RUBIK-LIGHT[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/SlimUI/Modern[[:space:]]Menu[[:space:]]1/Fonts/RUBIK-MEDIUM[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/SlimUI/Modern[[:space:]]Menu[[:space:]]1/ModernMenu_V1.3.1_Documentation.pdf filter=lfs diff=lfs merge=lfs -text
/Assets/SlimUI/Modern[[:space:]]Menu[[:space:]]1/Prefabs/Canvas[[:space:]]Templates/Canvas_DefaultTemplate1.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/EnergyEffect.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/Explosion.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/FireBallEmission.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/FireExplosion.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/Fireball.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/Flame02.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/Flame03.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/Flame04.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/LargeFlame01.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/LargeFlame02.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/MediumFlame01.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/MediumFlame03.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/MedumFlame02.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/SmokePuff01.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/SmokePuffNormal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Fire[[:space:]]&[[:space:]]Explosion[[:space:]]Effects/Textures/TinyFlame.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Legacy[[:space:]]Particles/Textures/FlameRoundGreyParticleSheet.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Magic[[:space:]]Effects/Textures/EarthCrackNormal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Magic[[:space:]]Effects/Textures/FireBallEmission.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Magic[[:space:]]Effects/Textures/Fireball.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Magic[[:space:]]Effects/Textures/IceCurvature.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Magic[[:space:]]Effects/Textures/IceNormals.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Magic[[:space:]]Effects/Textures/RockNormal.tga filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Magic[[:space:]]Effects/Textures/RocksAlbedo.tga filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Magic[[:space:]]Effects/Textures/RocksSpecGloss.tga filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Misc[[:space:]]Effects/Animations/@EllenIdle.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Misc[[:space:]]Effects/Models/Ellen.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Misc[[:space:]]Effects/Textures/CandleFlame.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Misc[[:space:]]Effects/Textures/Clouds01.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Misc[[:space:]]Effects/Textures/Clouds02.png filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Misc[[:space:]]Effects/Textures/FireFlyEmission.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Misc[[:space:]]Effects/Textures/HexagonPattern_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Misc[[:space:]]Effects/Textures/SmokePuff.png filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Misc[[:space:]]Effects/Textures/SmokeySteam.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Smoke[[:space:]]&[[:space:]]Steam[[:space:]]Effects/Textures/Flame01.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Smoke[[:space:]]&[[:space:]]Steam[[:space:]]Effects/Textures/SmokeLoop01.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Smoke[[:space:]]&[[:space:]]Steam[[:space:]]Effects/Textures/SmokeLoop02.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Smoke[[:space:]]&[[:space:]]Steam[[:space:]]Effects/Textures/SmokePuffNormal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Smoke[[:space:]]&[[:space:]]Steam[[:space:]]Effects/Textures/WispySmokeNormal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Smoke[[:space:]]&[[:space:]]Steam[[:space:]]Effects/Textures/smokeysteam.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Smoke[[:space:]]&[[:space:]]Steam[[:space:]]Effects/Textures/wispySmoke.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Water[[:space:]]Effects/Textures/SplashAlbedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Water[[:space:]]Effects/Textures/SplashDropAlbedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Water[[:space:]]Effects/Textures/SplashDropNormal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Water[[:space:]]Effects/Textures/SplashNormal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Weapon[[:space:]]Effects/Textures/MuzzleFlashFront.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Weapon[[:space:]]Effects/Textures/SandDecalAlbedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Weapon[[:space:]]Effects/Textures/SandDecalNormal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Weapon[[:space:]]Effects/Textures/StoneNormal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Weapon[[:space:]]Effects/Textures/WoodAlbedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Weapon[[:space:]]Effects/Textures/WoodOcclusion.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/EffectExamples/Weapon[[:space:]]Effects/Textures/woodSplintersAlbedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/Scenes/Main[[:space:]]Scene[[:space:]]with[[:space:]]Legacy[[:space:]]Particles.unity filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/Scenes/Main[[:space:]]Scene[[:space:]]with[[:space:]]Legacy[[:space:]]Particles/Lightmap-0_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/Scenes/Main[[:space:]]Scene[[:space:]]with[[:space:]]Legacy[[:space:]]Particles/Lightmap-1_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/Scenes/Main[[:space:]]Scene[[:space:]]with[[:space:]]Legacy[[:space:]]Particles/Lightmap-2_comp_light.exr filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/Shared/Environment/Textures/ConcreteFloor_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/Shared/Environment/Textures/ConcreteFloor_AmbientOcclusion.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/Shared/Environment/Textures/ConcreteFloor_MetallicSmooth.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/Shared/Environment/Textures/ConcreteFloor_Normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/Shared/Environment/Textures/ConcreteWall_Albedo.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/Shared/Environment/Textures/ConcreteWall_MetallicSmooth.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/Shared/Environment/Textures/ConcreteWall_normal.tif filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LiberationSans[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
/Assets/UnityTechnologies/ParticlePack/TextMesh[[:space:]]Pro/Resources/Sprite[[:space:]]Assets/InlineIcons.png filter=lfs diff=lfs merge=lfs -text
/Assets/Vefects/Free[[:space:]]Blood[[:space:]]VFX/Demo/Resources/Meshes/SM_Vefects_Vexa_Unity_01.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/Vefects/Free[[:space:]]Blood[[:space:]]VFX/Demo/Resources/Textures/T_VFX_Lush_HDRI_05.HDR filter=lfs diff=lfs merge=lfs -text
/Assets/Vefects/Free[[:space:]]Blood[[:space:]]VFX/Demo/Scene/Textures/T_VFX_Grid_01_Masks.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Vefects/Free[[:space:]]Blood[[:space:]]VFX/Demo/Scene/Textures/T_VFX_Grid_01_Normal.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Vefects/Free[[:space:]]Blood[[:space:]]VFX/Demo/Scene/Textures/T_VFX_Grid_01_Texture.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Vefects/Free[[:space:]]Blood[[:space:]]VFX/Demo/Scene/Textures/T_VFX_Metrics_Grid_Base_Color.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Vefects/Free[[:space:]]Blood[[:space:]]VFX/Demo/Scene/Textures/T_VFX_Metrics_Grid_Normal.tga filter=lfs diff=lfs merge=lfs -text
/Assets/Vefects/Free[[:space:]]Blood[[:space:]]VFX/_[[:space:]]Extra/_[[:space:]]READ[[:space:]]ME/How[[:space:]]To[[:space:]]Easily[[:space:]]and[[:space:]]Quickly[[:space:]]Learn[[:space:]]VFX[[:space:]]Even[[:space:]]If[[:space:]]Youre[[:space:]]a[[:space:]]Beginner.pdf filter=lfs diff=lfs merge=lfs -text
/Assets/assets/Anim/Ch12_1001_Diffuse.png filter=lfs diff=lfs merge=lfs -text
/Assets/assets/Anim/Ch12_1001_Glossiness.png filter=lfs diff=lfs merge=lfs -text
/Assets/assets/Anim/Ch12_1001_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/assets/Anim/Ch12_nonPBR.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/assets/scene[[:space:]]prefabs/Canvas_DefaultTemplate1.prefab filter=lfs diff=lfs merge=lfs -text
/Assets/assets/sounds/Socapex[[:space:]]-[[:space:]]Dark[[:space:]]Ambiance[[:space:]]-[[:space:]]Mastered.mp3 filter=lfs diff=lfs merge=lfs -text
/Assets/assets/—Pngtree—pleated[[:space:]]white[[:space:]]paper[[:space:]]texture[[:space:]]solid_1705207.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/char/Ch12_nonPBR@Looking[[:space:]]Around.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/char/Ch12_nonPBR@Terrified.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/char/Pistol_Handgun[[:space:]]Locomotion[[:space:]]Pack[[:space:]](1)/Ch12_nonPBR@Terrified.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/char/Pistol_Handgun[[:space:]]Locomotion[[:space:]]Pack[[:space:]](1)/Not[[:space:]]So[[:space:]]Scary[[:space:]]Zombie[[:space:]]Pack/Zombiegirl[[:space:]]W[[:space:]]Kurniawan.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/char/Pistol_Handgun[[:space:]]Locomotion[[:space:]]Pack[[:space:]](1)/Swat.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/char/Swat@Pistol[[:space:]]Run.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/char/Zombiegirl[[:space:]]W[[:space:]]Kurniawan@Zombie[[:space:]]Idle.fbx filter=lfs diff=lfs merge=lfs -text
/Assets/char/mats/Ch12_1001_Diffuse.png filter=lfs diff=lfs merge=lfs -text
/Assets/char/mats/Ch12_1001_Glossiness.png filter=lfs diff=lfs merge=lfs -text
/Assets/char/mats/Ch12_1001_Normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/char/mats/Soldier_Body_diffuse.png filter=lfs diff=lfs merge=lfs -text
/Assets/char/mats/Soldier_head_diffuse.png filter=lfs diff=lfs merge=lfs -text
/Assets/char/mats/zombie_body_diffuse.png filter=lfs diff=lfs merge=lfs -text
/Assets/char/mats/zombie_diffuse.png filter=lfs diff=lfs merge=lfs -text
/Assets/char/mats/zombie_normal.png filter=lfs diff=lfs merge=lfs -text
/Assets/char/mats/zombie_specular.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/Image_6.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/oldCouch_BaseColor.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/Image_0.003.jpg filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/Image_0.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/backrooms_1.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/base-white-tile_albedo.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/base-white-tile_roughness.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/bathroomtile1_basecolor.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/bathroomtile1_normal-ogl.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/bathroomtile1_roughness.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/cheap_old_linoleum1_Normal-ogl.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/cheap_old_linoleum1_Roughness.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/cheap_old_linoleum1_albedo.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/gross-dirty-tiles_albedo.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/gross-dirty-tiles_normal-ogl.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/gross-dirty-tiles_roughness.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/laminate-flooring-brown_albedo.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/laminate-flooring-brown_roughness.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/saloon-wood-floor_albedo.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/saloon-wood-floor_normal-ogl.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/textures/saloon-wood-floor_roughness.png filter=lfs diff=lfs merge=lfs -text
/Assets/visuals/zombiegirl5.fbx filter=lfs diff=lfs merge=lfs -text
